$white: #fff;
$classNames: 'purple', 'orange', 'blue';
$buttonColor: #a9004b, #ff863f, #0000ff;

$navy: #141f40;
$green: #80bfa8;
$red: #8c2727;
$brown: #d98d30;

$header-height: 100px;
$main-height: 250px;
$footer-height: 100px;
$footer-width: 400px;

$sidebar-width: 150px;
$main-width: 250px;

$header-box-size: 40px;
$main-box-width: 140px;
$main-box-height: 40px;

$gap-header-box: 10px;
$gap-main-box: 10px;
